.router-link {
  color: #4051b5;
  text-decoration: none;
}

.MuiBottomNavigationAction-wrapper {
  transform: scale(1.2);
}

/* .videoFrame {
  position: relative;
  height: '50vh';
  width: 100%;
} */
